.alerts-section {
  background: #fff8e1;
  border: 1px solid #ffecb3;
  padding: 1rem;
  margin-bottom: 1.5rem;
  border-radius: 8px;
}

.alert {
  color: #b71c1c;
  margin: 0.5rem 0;
  font-weight: 500;
}

.no-alerts {
  color: green;
}

.summary-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.summary-text {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.1rem;
}

.chart-section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.chart-card {
  width: 45%;
  padding: 1rem;
  background: #f4f4f4;
  border-radius: 8px;
}

.small-chart canvas {
  max-height: 250px ;
}

.nav-buttons {
  display: flex;
  justify-content: space-between;  
  margin: 2rem auto;
  max-width: 600px; 
  padding: 0 1rem;
}

.nav-buttons button {
  flex: 1;  
  margin: 0 0.5rem;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 6px;
  background-color: #710c7a;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nav-buttons button:hover {
  background-color: #aa1e85;
}


